*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #00ADEE;
    --light-primary-color: #00adee36;
    --white : #fff;
    --off-white: rgba(250, 250, 250, 1);
    --black: rgba(71, 71, 71, 1);
}


body {
    width: 100vw;
    font-family: 'Plus Jakarta Display Bold Italic', sans-serif;
    font-size: 14px;
    position: relative;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
}

img {
    display: block;
}

.nav-bar {
    height: 106px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 138px; */
    /* font-size: 14px; */
    width: 100vw;
    overflow: hidden;
}

.logo {
    width: 86.74px;
    height: 43px;
}

.nav-links {
    /* max-width: 627px; */
}

.nav-links > ul{
    list-style-type: none;
    display: flex;
    gap: 45px;
}

ul a {
    text-decoration: none;
    color: #6D7D8B;
}

.nav-btn-div{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.nav-btn-div > button {
    width: 120px;
    padding: 11px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    font-weight: 700;
}

.nav-btn-div > button:first-of-type {
    background-color: var(--white);
    color: var(--primary-color);
}

.nav-btn-div > button:last-of-type {
    background-color: var(--primary-color);
    color: var(--white);
}

/* header ends here */

/* hero section begins here */

.hero-container {
    position: relative;
    background-image: url('./images/tint-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 1280px; */
    width: 100%;
    height: 950px;
    overflow: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 539.07;
    height: 359px;
    position: absolute;
    /* top: 160px; */
    top: 180px;
    /* left: 89.93px; */
    left: 120px;
    font-size: 16px;
    font-weight: 700;
}

.title {
    width: 528.63px;
    /* height: 148px; */
    
    color: var(--white);
    font-size: 60px;
    line-height: 74px;
    letter-spacing: -4px;
}

.body-container {
    width: 539px;
    height: 90px;
    line-height: 30px;
    color: var(--white);
    
}

.hero-btn > button{
    width: 164.89px;
    height: 56px;
    line-height: 24px;
    align-self: center;
    font-weight: 700;
    border: 2px solid var(--primary-color);
}

.hero-btn > button:first-of-type {
    background-color: var(--primary-color);
    color: var(--white);
}

.hero-btn > button:last-of-type {
    background-color: var(--light-primary-color);
    color: var(--primary-color);
    margin-left: 18px;
}

/* hero section ends here */

.dropdown {
    display: none;
    /* width: 0; */
    z-index: 4;
    position: absolute;
}

/* car logo section begins here*/

.car-logo {
    width: 100%;
    height: 114px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: whitesmoke;
   
}
/* car logo section ends here*/

/* perks section begins here */

    .perks-section {
        min-height: 412px;
        
    }

    .perks-content {
        width: 359px;
        height: 251px;
        gap: .5rem;
    }

    .perks-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 25.88px;
        color: var(--black);
        height: 52px;
    }

    .title-1 {
        width: 228px;
    }

    .title-2 {
        width: 280px;
    }

    .title-3 {
        width: 221px;
    }

    .body-1, .body-3 {
        width: 296px;
        height: 90px;
    }

    .body-2 {
        width: 358.4px;
        height: 120px;
        /* border: 1px solid blue; */
    }


    .perks-body {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: rgba(109, 125, 139, 1);
    }
/* perks section ends here */

/* service section begins here */

.service-section {
    height: 2397px;
    background: var(--off-white);
    padding-top: 18px;  
    /* padding-bottom: -25px;  */
    width: 100%;
    
}

.section-tag {
    width: 147px;
    height: 50px;
    border-radius: 50px;
    border: 0.5px solid var(--primary-color);
    color: var(--primary-color);
    background-color: #F5FCFF;
    padding: 10px 22px;
    text-align: center;
    font-size: 14px;
    font-variant: small-caps;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 100px;
}

.s-text {
    width: 496px;
    height: 60px;
    margin-left: 100px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: rgba(37, 49, 60, 1);

}

.s-text-2 {
    width: 367px;
    height: 29px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 29.37px;
    font-weight: 400px;
    color: rgba(109, 125, 139, 1);
}

.tinting {
    width: 100%;
    height: 541px;
    margin-top: 26px;
    overflow: hidden;
}

.service {
    width: 50%;
    height: 540px;
    /* box-shadow: 0.6px 0px 0px 0px rgba(223, 223, 223, 0.63); */
    gap: 1.5rem;
    padding-left: 100px;
} 

.service-img {
    width: 50%;
}

.service-ccar  {
    width: 100%;
    height: 541px;
    display: block;
}

.service-title {
    width: 367px;
    height: 49px;
    font-size: 38px;
    font-weight: 700;
    line-height: 49.17px;
    color: rgba(37, 49, 60, 1);
}

.service-body {
    width: 466px;
    height: 58px;
}

.service-body > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 29.37px;
    color: rgba(109, 125, 139, 1);
}

.service-bullet-points {
    display: grid;
    grid-template-columns: 150px 180px;
    grid-row-gap: 1rem;
}

.points {
    font-weight: 400;
    font-size: 16px;
    line-height: 26.1px;
    color: rgba(109, 125, 139, 1);

}

.service-body > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 29.37px;
    color: rgba(109, 125, 139, 1);
}

.check-btn {
    width: 164.89px;
    height: 56px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

/* ceramic coatings */

.ceramic-coating, .paint-protection-film {
    overflow: hidden;
}

.ceramic-coating .service-title {
    width: 367px;
}

.ceramic-coating  .service-body {
    width: 506px;
}

.ceramic-coating  
.service-bullet-points {
    grid-column-gap: 1.2rem;
   margin-top: 1.5rem;
}

.paint-protection-film .service-body {
    width: 432px;

}

.wrap-div .service-body {
    width: 433px;
    height: 58px;
}

.paint-protection-film .service-bullet-points-pp {
    display: grid;
    grid-template-columns: 230px 137px;
    /* width: 500px; */
    grid-gap: 1rem;
}

.service-bullet-points-w {
    display: grid;
    grid-template-columns: 230px 200px;
    grid-gap: .8rem;
    
}
/* service section ends here */


/* 3bout us starts here */

.about-us {
    padding-top: 54px;
    
}

.gap-3em {
    gap: 10em;
}

.about-us-heading {
    width: 496px;
}

.about-us-heading > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-heading > div:first-of-type {
    width: 272px;
    height: 50px;
    border-radius: 60px;
    padding: 10px 20px;
    border: 0.5px solid var(--primary-color);
    background-color: #f5fcff;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
}

.about-us-heading > div:last-of-type{
    width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #25313C;
}

.about-us-detail {
    width: 711px;
    min-height: 507px;
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
}

.about-us-detail > ul {
    margin-left: 20px;
}

.about-us-detail a{
    color: #00ADEE;
    text-decoration: underline;
} 

.about-us-img > img{
    width: 100%;
}

/* about us ends here */

/* faq-section starts here */
    .faq-section {
        min-height: 968px;
        padding: 100px;
        overflow-y: auto;
    }

    .faq {

    }

    .faq-headings {
        width: 499px;
        height: 194px;

    }

    .faq-tag {
        width: 81px;
        height: 50px;
        border-radius: 60px;
        border: 0.5px solid var(--primary-color);
        color: var(--primary-color);
        padding: 10px 22px;
        /* text-align: center; */
        font-size: 14px;
        line-height: 30px;
    }

    .faq-title {
        width: 496px;
        height: 60px;
        font-size: 48px;
        line-height: 60px;
        color: #25313C;
    }

    .faq-body{
        width: 367px;
        height: 58px;
        font-size: 18px;
        line-height: 29.37px;
        color: #6D7D8B;
    } 

    .question-container {
        width: 640px;
        height: 768px;
        gap: 16px;
    }

    .question {
        height: 66px;
    }

    .question p {
        font-size: 20px;
        line-height: 26px;
        color: #474747;
    }

    .close, .open {
        cursor: pointer;
    }

    .accordion {
        display: none;
        height: 140px;
        padding: 10px 22px;
        /* margin-top: 16px; */
        /* padding-bottom: 16px; */
        /* padding-top: -26px; */
        /* margin-bottom: 16px; */
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -1%;
    }

    .hr {
        background-color:  #EEEEEE;
        height: 0.5px;
    }

/* faq-section ends here */

/* Quote section starts */
    .quote-section {
        min-height: 829px;
        padding: 70px 100px;
        background: #FAFAFA;
    
    }

    .quote {

    }

    .quote-heading {
        width: 496px;
    }

    .quote-tag {
        width: 124px;
        height: 50px;
        border-radius: 60px;
        border: 0.5px solid var(--primary-color);
        padding: 10px 22px;
        background: #F5FCFF;
        color: var(--primary-color);
        font-size: 14px;
        line-height: 30px;
    }

    .quote-title {
        height: 120px;
        width: 496px;
        font-size: 48px;
        line-height: 60px;
        color: #25313C;
    }

    .quote-body {
        width: 367px;
        height: 58px;
        font-size: 18px;
        line-height: 29.37px;
        color: #6D7D8B;
    }

    #quote-form {
        width: 673px;
        min-height: 689px;
        border-radius: 10px;
        background: #FFFFFF;
        box-shadow: 0 0 3 0 rgba(192, 192, 192, 0.25);
    }

    .input-field {
        margin-top: 26px;
    }

    label {
        font-weight: 700;
        font-size: 16px;
        line-height: 20.7px;
        color: rgba(71, 71, 71, 1);
    }

    input {
        display: block;
        width: 302px;
        height: 48px;
        border-radius: 5px;
        border: 1px solid rgba(218, 218, 218, 1)
    }

    input:focus {
        border: 1px solid var(--primary-color)
    }

    .note > p {
        font-size: 14px;
        font-weight: 300px;
        line-height: 18.12px;
        color: #6D7D8B;
        padding-top: 4px;
    }

    .quote-options {
        display: flex;
        gap: 16px;
        margin-bottom: 20px;
    }

    input[type="radio"] {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .radio-fg, .label {
        margin-left: 25px;
    }

    .radio-fg {
        margin-bottom: 50px;
    }

    .label {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 18.75px;
        color: #4D4D4D;
        font-weight: 700;
    }

    .quote-label {
        height: 21px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20.8px;
    }

    #submit-btn {
        width: 621px;
        height: 56px;
        border-radius: 4px;
        background-color: var(--primary-color);
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        margin-left: 25px;
        /* margin-bottom: -25px; */
    }
/* Quote section ends */

/* testimonial begins here */
    .testimonial-section{
        min-height: 727px;
    }

    .testimonial-contents{
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .testimonial-tag {
        width: 127px;
        height: 50px;
        border-radius: 60px;
        border: 0.5px solid var(--primary-color);
        padding: 10px 22px;
        background: #F5FCFF;
        color: var(--primary-color);
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .testimonial-title {
        height: 120px;
        width: 635px;
        font-size: 48px;
        line-height: 60px;
        color: #25313C;
    }

    .arrow {
        width: 39px;
        height: 39px;
        border-radius: 100px;
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        opacity: 30%;
        cursor: pointer;
    }

    .arrow:hover {
        opacity: 1;
    }

    .testimonial-container {
        height: 311px;
        margin-left: 100px;
        margin-top: 10px;
        overflow-x: auto;
        scroll-behavior: smooth;
        /* -webkit-overflow-scrolling: touch; */
        /* -ms-overflow-style: none; */
        scrollbar-width: none;
    }

    .testimonial {
        width: 357px;
        height: 311px;
        border: 1px solid #F0F0F0;
        padding: 24px;
    }

    .stars {
        width: 120px;
        height: 24px;
        display: flex;
        gap: 10px;
    }

    .testimonial-text {
        width: 318px;
        height: 104px;
        font-size: 16px;
        line-height: 26.1px;
        font-weight: 400;
        color: #6D7D8B;
    }

    .name {
        font-size: 14px;
        line-height: 22.84px;
        color: #6D7D8B;
    }

    .date-posted{
        font-size: 12px;
        line-height: 15.53px;
        letter-spacing: -4%;
        color: #6D7D8B;
    }

    .post {
        font-size: 14px;
        line-height: 22.84px;
        color: #6D7D8B;
    }

/* testimonial ends here */

/* footer begins */
    footer {
        min-height: 403px;
        background: #F5FCFF;
        padding: 100px;
    }

    .logo-n-desc{
        width: 222px;
        height: 143px;
    }

    .desc{
        height: 81px;
        color: #6D7D8B;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
    }

    .quick-links {
        width: 99px;
        height: 243px;
    }

    .tinting-links {
        width: 165px;
        height: 201px;
    }

    .ceramic-coating-links,
    .wrap-links {
        width: 128px;
        height: 199px;
    }

    .ppf-links {
        width: 197px;
        height: 213px;
    }

    .footer-subheading {
        /* width: 99px; */
        
        font-size: 17px;
        line-height: 23.29px;
        font-weight: 700;
        color: #474747;
    }

    .tinting-links h4,
    .ceramic-coating-links h4,
    .wrap-links h4,
    .ppf-links h4 {
        font-size: 16px;
    }

    .m-d{
        margin-top: 1.5rem;
    }

    .m-d > nav {
        margin-top: .5em;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }

    .m-d > nav > a {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: #6D7D8B;
        text-decoration: none;
    }

    .carbon {
        /* width: 197px;  */
        /* height: 46px; */
        margin-top: .7rem;
    }

    .carbon > a {
        color: #6D7D8B;
        text-decoration: none;
    }
/* footer ends here */

    .hidden {
        display: none;
    }

    .hidden-on-desktop{
        display: none;
    }

    .color {
        color: #00ADEE;
    }
    
/* utility classes */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-btw {
    justify-content: space-between;
}

.align-end {
    align-items: flex-end;
}

.gap-10 {
    gap: 10px;
}

.gap-2em {
    gap: 1.3em;
}

.gap-1{
    gap: 1rem;
}

.gap-25 {
    gap: 2.5em;
}

.row-reverse {
    flex-direction: row-reverse;
}

.text-center {
    text-align: center;
}

.p-l-r {
    padding-left: 100px;
    padding-right: 100px;
}

.p-t-b {
    padding-top: 30px;
    padding-bottom: 30px;
}

.grid {
    display: grid;
}

.grid-template {
    grid-template-columns: 1fr 1fr;
}

.f-w700 {
    font-weight: 700;
}

.f-w400 {
    font-weight: 400;
}

.p-b {
    padding-bottom: 50px;
}

.hidden-on-desktop {
    display: none;
}

.hidden-on-bigmedia{
    display: none;
}

@media screen and (max-width: 1281px) {
    .nav-bar {
        height: 106px;
        /* padding: 10px 150px; */
        /* width: 100v; */
        gap: 10px;
        /* font-size: 14px; */
        padding-left: 70px;
        padding-right: 70px;
    }

    
.nav-btn-div{
    display: flex;
    justify-content: center;
    width: 250px;
}

.nav-btn-div > button {
    width: 100px;
    padding: 11px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    font-weight: 700;
}

.nav-btn-div > button:first-of-type {
    background-color: var(--white);
    color: var(--primary-color);
}

.nav-btn-div > button:last-of-type {
    background-color: var(--primary-color);
    color: var(--white);
    margin-left: 10px;
}


    .nav-links > ul{
        
        gap: 20px;
    }

    .hero-container{
        width: 100vw;
    }

    .service {
        padding-left: 60px;
        padding-right: 15px;
    }

    .service-body, .ceramic-coating .service-body {
        width: 100%;
    }
    .hidden-on-desktop {
        display: none;
    }
}

@media screen and (max-width: 912px) {

    body{
        position: relative;
    }

    .nav-bar {
        padding: 10px 20px;
    }

    .dropdown {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FAFAFA;
        gap: 2rem;
        width: 100%;
        height: 87.4vh;
        font-size: 18px;
        text-align: center;
        transition: .5s ease-in-out;
        inset: 1;
    }

    .dropdown > nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid: 1rem;
        height: 300px;
    }

    .dropdown > nav > a {
        text-decoration: none;
        color: #6D7D8B;
    }

    .dropdown > nav > a:hover {
        color: #00ADEE;
    }

    .dropdown > .nav-btn-div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .dropdown > .nav-btn-div > button {
        width: 100%;
    }

    .dropdown > .nav-btn-div > button:last-of-type{
        margin-left: 0px;
    }

    .hide-dropdown{
        /* width: 0; */
        display: none;
    }

    /* car logo section begins here*/

    .car-logo {
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
        /* grid-column-gap: 10rem; */
        width: 100vw;
        /* min-height: 304px; */
        min-height: 114px;
        padding-left: 30px;
        padding-right: 50px;
        /* background-color: whitesmoke; */
    }

    /* car logo ends here */

    /* perks section begins here */

    .perks-section {
        padding-top: 3.5em;
        min-height: 412px;
        width: 100%;
    }

    .perks-content {
        width: 100%;
    }

    .perks-content:last-of-type{
        margin-top: 2.5rem;
    }

    .body-1, .body-3 {
        width: 335px;
    }

    .body-2 {
        width: 335px;
    }

/* perks section ends here */

    /* .section-tag, .faq{
        margin-left: 20px;
    } */



    .service {
        padding-left: 20px;
    }

    .icons{
        margin-left: 70px;
    }

    .service-body {
        min-height: 78px;
    }
/* service section ends here */


    .about-us-detail {
        width: 100%;
        
    }

    form > figcaption:first-of-type{
        padding: 10px;
    }

    input {
        width: 100%;
    }

    /* footer */
    footer{
        padding-left: 50px;
    }
    .footer-contents{
        gap: 2rem;
    }

    .logo-n-desc{
        width: 100%;
    }

    .hidden-on-desktop {
        display: block;
    }

    .hidden-on-mobile {
        display: none;
    }

    .flex-col-sm{
        flex-direction: column;
    }

    .mobile {
        padding-left: 20px;
        display: flex;
        gap: 1em;
    }

}

@media screen and (max-width: 820px) {
    .tinting, .ceramic-coating, 
    .paint-protection-film {
        flex-direction: column;
        align-items: center;
        /* gap: 1rem; */
    } 

    /* service section begins here */

.service-section {
    /* min-height: 2397px; */
    min-height: 3060px;
    /* background: var(--off-white); */
    padding-top: 0px;  
    /* padding-bottom: -25px;  */
    /* width: 100%; */
    /* padding: 30px 20px; */
}

.section-tag {
    height: 38px;
    border-radius: 60px;
    font-weight: 700;   
    line-height: 18.12px;
    margin-top: 10px;
    margin-left: 10px;
}

.tp{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
   
    padding-top: 2px;

}

.gap-5 {
    gap: 5px;
}

.s-text {
    /* height: 39px; */
    /* align-self: center; */
    width: 100%;
    margin-left: 10px;
    font-size: 28px;
    /* line-height: 36.23px; */
    /* margin-top: 10px; */
}

.s-text-2 {
    width: 286px;
    height: 26px;
    /* margin-top: -30px; */
    margin-left: 10px;
    font-size: 16px;
    line-height: 26.1px;
    font-weight: 400px;
}

.tinting {
    /* flex-direction: column; */
    width: 100%;
    height: 650px;
    /* margin-top: 26px; */
    /* padding: 0px 0px; */
    margin-top: 30px;
    /* margin-bottom: 0; */
}

.service {
    width: 100%;
    /* min-height: 370px; */
    /* box-shadow: 0.6px 0px 0px 0px rgba(223, 223, 223, 0.63); */
    gap: .8rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

} 

.service-img {
    width: 100%;
    min-height: 370px;
}

.service-ccar  {
    /* width: 375px; */
    width: 100%;
    height: 337px;
    
    display: block;
    
}

.service-title {
    /* align-self: baseline; */
    /* gap: 1px; */
    padding: 0;
    width: 100%;
    height: 49px;
    /* font-size: 38px; */
    font-size: 24px;
    font-weight: 700;    
}

.service-body {
    /* width: 335px; */
    width: 100%;
    min-height: 78px;
}



.service-body > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26.1px;
}

.service-bullet-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: .5rem;
    
}

.points {
    font-weight: 400;
    font-size: 14px;
    line-height: 26.1px;
    color: rgba(109, 125, 139, 1);

}

.check-btn {
    /* width: 164.89px; */
    /* width: 375px; */
    width: 100%;
    height: 56px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* margin-right: 20px; */
}

/* ceramic coatings */
.ceramic-coating {
    /* align-items: flex-start; */
    height: 720px;
}

.ceramic-coating .service-title {
    width: 100%;
    margin-top: 1.2em;
}

.ceramic-coating  .service-body {
    width: 100%;
    height: 104px;
    border: 1px solid var(--off-white);
}

.ceramic-coating  
.service-bullet-points {
    /* grid-column-gap: 1.2rem; */
   margin-top: .8rem;
}

.paint-protection-film{
    height: 779px;
}

.paint-protection-film .service-body {
    width: 100%;
    height: 78px;
}

.wrap-div .service-body {

    height: 78.44px;
}

.paint-protection-film .service-bullet-points-pp {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .8rem;
}

.service-bullet-points-w {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .8rem;
    
}

.icons{
    padding-left: 100px;
}

}

@media screen and (max-width: 640px) {

   .hero-container {
    height: 735px;
   }

   .hero-content {
    height: 369px;
    top: 6%;
    left: 5px;
    transform: translate(5%, -2%);
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.title {
    width: 335px; 
    color: var(--white);
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -4px;
}

.body-container {
    align-content: center;
    width: 335px;
    /* height: 112px; */
    line-height: 16px;
    color: var(--white);
    font-weight: 200;

}

.hero-btn {
    display: flex;
    flex-direction: column;
    width: 335px;
    gap: 1rem;
    margin-top: 0px;
}

.hero-btn > button{
    /* width: 164.89px; */
    width: 335px;
    width: 100%;
}
.hero-btn > button:last-of-type {
    margin-left: 0px;
}

    .car-logo {
        /* width: 375px; */
        height: 304px;
        gap: 1rem;

        /* border: 4px solid red; */
    }

    .paint-protection-film .service-body{
        padding-left: 20px;
    }

    
/* about us */

.about-us {
    padding-top: 4px;
    /* height: 1260px; */
    width: 100%;
}

.about-us > div {
    flex-direction: column;
    gap: 1.5em;;
}

.gap-3em {
    gap: 10em;
}

.about-us-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.p-l-r {
    padding-left: 20px;
    padding-right: 20px;
}

.p-b {
    padding-top: 30px;
    padding-bottom: 30px;
}


.about-us-heading > div:first-of-type {
    height: 38px;
    line-height: 18.12px;
}

.about-us-heading > div:last-of-type{
    width: 100%;
    height: 72px;
    font-size: 28px;
    line-height: 36.23px;
}

.about-us-detail {
    width: 100%;
    min-height: 660px;
    font-size: 16px;
    line-height: 30px;
   
}
.about-us-img > img{
    width: 100%;
    height: 381px;
    margin-top: -160px;
}

/* about us ends here */

/* faq */
/* faq-section starts here */
.faq-section {
    height: 700px;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
}

.faq {
    gap: 2em;
}

.faq-heading {
    width: 100%;
    height: 139px;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.faq-tag {
    height: 38px;
    border-radius: 60px;
    border: 0.5px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 22px;
    font-size: 14px;
    line-height: 18.12px;
    
}

.faq-title {
    width: 100%;
    height: 36px;
    font-size: 28px;
    line-height: 36.23px;
}

.faq-body{
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 26.1px;
} 

.question-container {
    width: 100%;
    min-height: 768px;
    height: auto;
    gap: 16px;
}

.question {
    width: 100%;
}

.question p {
    font-size: 16px;
}


.accordion {
    display: none;
    min-height: 40px;
    padding: 10px 0px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -1%;
}


/* faq-section ends here */

/* Quote section starts */
.quote-section {
    min-height: 1213px;
    padding: 30px 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.quote-heading {
    /* width: 335px; */
    width: 100%;
}

.quote-tag {
    height: 38px;
    line-height: 18.12px;
}

.quote-title {
    height: 36px;
    width: 100%;
    font-size: 28px;
    line-height: 36.23px;
}

.quote-body {
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 26.1px;
}

#quote-form {
    width: 100%;
    min-height: 931px;
}

.input-field {
    margin-top: 26px;
    padding: 10px;
}

label {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
}

input {
    width: 100%;
}

input:active {
    border: 1px solid var(--primary-color)
}

.quote-options {
    gap: 16px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.radio-fg, .label {
    margin-left: 5px;
}

.radio-fg {
    margin-bottom: 50px;
}

.label {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18.75px;
    color: #4D4D4D;
    font-weight: 700;
}

.quote-label {
    height: 21px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20.8px;
}

#submit-btn {
    /* width: 621px; */
    width: 100%;
    height: 56px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0px;
}
/* Quote section ends */

/* testimonial begins here */
.testimonial-section{
    min-height: 641px;
    width: 100%;
}

.testimonial-contents{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.testimonial-tag {
    height: 38px;
    text-align: center;
    line-height: 18.12pxpx;
    margin-bottom: 10px;
    padding: 5px 22px;
}

.testimonial-title {
    height: 72px;
    width: 100%;
    font-size: 28px;
    line-height: 36.23px;
}

.arrow {
    width: 39px;
    height: 39px;
    border-radius: 100px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    opacity: 30%;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;
}

.testimonial-container {
    /* height: 311px; */
    height: 330px;
    width: 100%;
    /* width: 303px; */
    width: 100%;
    margin-left: 20px;
}


.testimonial {
    width: 303px;
    height: 311px;
    border: 1px solid #F0F0F0;
    padding: 24px;
}

.stars {
    width: 120px;
    height: 24px;
    display: flex;
    gap: 10px;
}

.testimonial-text {
    width: 263px;
    min-height: 104px;
    font-size: 16px;
    line-height: 26.1px;
    font-weight: 400;
    color: #6D7D8B;
}

.lorem-text {
    height: 100%;
    width: 270px;
}


.name {
    font-size: 14px;
    line-height: 22.84px;
    color: #6D7D8B;
}

.date-posted{
    font-size: 12px;
    line-height: 15.53px;
    letter-spacing: -4%;
    color: #6D7D8B;
}

.post {
    font-size: 14px;
    line-height: 22.84px;
    color: #6D7D8B;
}

.icons{
    margin-left: -70px;
}

footer {
    width: 100%;
}

.hidden-on-640media{
    display: none;
}

.cars{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
}

.cars > div {
    align-self:flex-start;
    /* justify-self: center; */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cars2 > div{
    align-self: flex-end;
}

.hidden-on-bigmedia{
    display: flex;
    padding: 20px 20px;
    background-color: #F0F0F0;
}

}

@media screen and (max-width: 431px) {
    .ceramic-coating {
        padding-top: 1.5em;
    }

    .tinting {
        flex-direction: column;
        align-items: center;
    }
    .service {
        width: 100%;
        padding-left: 0;
        align-items: center;
        gap: .5rem;
        /* border: 1px solid brown; */
    }
    .service-img {
        width: 100%;
    }
    .service-ccar {
        width: 100%;
    }
    .service-title, .ceramic-coating .service-title {
        font-size: 24px;
        width: 90%;
    }
    
    .service-body, 
    .ceramic-coating .service-body {
        width: 90%;
        min-height: 78px;  
    }

    .ceramic-coating .service-body{
        justify-self: end;
    }

    .service-body > p {
        font-size: 16px;
        line-height: 26.1px;
    }
    .service-bullet-points, 
    .service-bullet-points-pp {
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
        grid-row-gap: .5rem;
    }

    .paint-protection-film .service-bullet-points-pp {
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
        grid-row-gap: .5rem;
    }

    .points {
        font-size: 14px;
    }
    .check-btn {
        width: 90%;
        /* padding-left: 20px; */
    }

    .about-us-img > img{
        margin-top: -70px;
    }
}

@media screen and (max-width: 390px) {
    .service-bullet-points, 
    .service-bullet-points-pp,
    .service-bullet-points-w {
        margin-left: 10px;
    }

    
}

@media screen and (max-width: 360px) {
    .hero-content {
        left: -3px;
    }

    .about-us-img > img{
        margin-top: 0px;
    }
}


@media screen and (max-width: 344px) {
    .hero-content {
        left: -11px;
    }

    

    .tinting .service-body{
        width: 100%;
        padding-left: 15px;
    }

    .service-bullet-points, 
    .service-bullet-points-pp,
    .service-bullet-points-w {
        margin-left: 30px;
    }

    .quote-title{
        letter-spacing: -2px;
    }
}